<?xml version="1.0" encoding="utf-8"?>
<manifest package="pr.tongson.application"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <service
            android:name="pr.tongson.service.MyService"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>

</manifest>